.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.form-input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.error-asterisk {
    color: red;
    position: absolute;
    top: 0;
    right: -10px;
}

.error-message {
    color: red;
    white-space: pre-wrap;
}

.separator {
    border-top: 1px solid gray;
    width: 100%;
    margin: 20px 0;
}

.fixed-width {
    width: 600px;
}
