/package-lock.json
/front_end/.idea/
/.idea/
/back_end/dist/
/back_end/node_modules/
/hs_err_pid4468.log
/hs_err_pid12628.log
/hs_err_pid16412.log
/hs_err_pid17436.log
/hs_err_pid21092.log
/hs_err_pid22240.log
/hs_err_pid26208.log
/hs_err_pid29208.log
/hs_err_pid33248.log
/hs_err_pid33604.log
/hs_err_pid35584.log
/hs_err_pid36712.log
/hs_err_pid37324.log
/back_end/uploads/file-1715558364828-919834891-test_file.txt
/back_end/uploads/file-1715558395864-464657974-test_file.txt
/back_end/uploads/file-1715558466826-313716822-test_file.txt
/back_end/uploads/file-1715558601462-341108153-test_file.txt
/nestjs-backend.iml
/node_modules/
/shared/node_modules/.bin/rimraf
/shared/node_modules/.bin/rimraf.ps1
/shared/node_modules/rimraf/dist/commonjs/fix-eperm.d.ts
/shared/node_modules/rimraf/dist/commonjs/fix-eperm.js
/shared/node_modules/rimraf/dist/commonjs/fs.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/fs.js
/shared/node_modules/rimraf/dist/commonjs/ignore-enoent.js.map
/shared/node_modules/rimraf/dist/commonjs/opt-arg.js
/shared/node_modules/rimraf/dist/commonjs/opt-arg.js.map
/shared/node_modules/rimraf/dist/commonjs/path-arg.d.ts
/shared/node_modules/rimraf/dist/commonjs/path-arg.js
/shared/node_modules/rimraf/dist/commonjs/platform.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/readdir-or-error.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/readdir-or-error.js.map
/shared/node_modules/rimraf/dist/commonjs/retry-busy.d.ts
/shared/node_modules/rimraf/dist/commonjs/rimraf-manual.d.ts
/shared/node_modules/rimraf/dist/commonjs/rimraf-move-remove.js.map
/shared/node_modules/rimraf/dist/commonjs/rimraf-native.d.ts
/shared/node_modules/rimraf/dist/commonjs/rimraf-native.js
/shared/node_modules/rimraf/dist/commonjs/rimraf-native.js.map
/shared/node_modules/rimraf/dist/commonjs/rimraf-posix.d.ts
/shared/node_modules/rimraf/dist/commonjs/rimraf-posix.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/rimraf-posix.js.map
/shared/node_modules/rimraf/dist/commonjs/rimraf-windows.d.ts.map
/shared/node_modules/rimraf/dist/esm/default-tmp.js
/shared/node_modules/rimraf/dist/esm/fix-eperm.d.ts
/shared/node_modules/rimraf/dist/esm/fix-eperm.js
/shared/node_modules/rimraf/dist/esm/fix-eperm.js.map
/shared/node_modules/rimraf/dist/esm/fs.d.ts.map
/shared/node_modules/rimraf/dist/esm/fs.js.map
/shared/node_modules/rimraf/dist/esm/package.json
/shared/node_modules/rimraf/dist/esm/readdir-or-error.d.ts
/shared/node_modules/rimraf/dist/esm/readdir-or-error.js
/shared/node_modules/rimraf/dist/esm/rimraf-manual.d.ts
/shared/node_modules/rimraf/dist/esm/rimraf-manual.d.ts.map
/shared/node_modules/rimraf/dist/esm/rimraf-native.d.ts.map
/shared/node_modules/rimraf/dist/esm/rimraf-posix.js
/shared/node_modules/rimraf/dist/esm/rimraf-windows.js.map
/shared/node_modules/rimraf/dist/esm/use-native.d.ts.map
/shared/node_modules/rimraf/dist/esm/use-native.js
/shared/dist/index.d.ts
/shared/node_modules/.bin/rimraf.cmd
/shared/node_modules/rimraf/dist/commonjs/default-tmp.d.ts
/shared/node_modules/rimraf/dist/commonjs/default-tmp.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/default-tmp.js
/shared/node_modules/rimraf/dist/commonjs/default-tmp.js.map
/shared/node_modules/rimraf/dist/commonjs/fix-eperm.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/fix-eperm.js.map
/shared/node_modules/rimraf/dist/commonjs/fs.d.ts
/shared/node_modules/rimraf/dist/commonjs/fs.js.map
/shared/node_modules/rimraf/dist/commonjs/ignore-enoent.d.ts
/shared/node_modules/rimraf/dist/commonjs/ignore-enoent.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/ignore-enoent.js
/shared/node_modules/rimraf/dist/commonjs/index.d.ts
/shared/node_modules/rimraf/dist/commonjs/index.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/index.js
/shared/node_modules/rimraf/dist/commonjs/index.js.map
/shared/node_modules/rimraf/dist/commonjs/opt-arg.d.ts
/shared/node_modules/rimraf/dist/commonjs/opt-arg.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/package.json
/shared/node_modules/rimraf/dist/commonjs/path-arg.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/path-arg.js.map
/shared/node_modules/rimraf/dist/commonjs/platform.d.ts
/shared/node_modules/rimraf/dist/commonjs/platform.js
/shared/node_modules/rimraf/dist/commonjs/platform.js.map
/shared/node_modules/rimraf/dist/commonjs/readdir-or-error.d.ts
/shared/node_modules/rimraf/dist/commonjs/readdir-or-error.js
/shared/node_modules/rimraf/dist/commonjs/retry-busy.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/retry-busy.js
/shared/node_modules/rimraf/dist/commonjs/retry-busy.js.map
/shared/node_modules/rimraf/dist/commonjs/rimraf-manual.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/rimraf-manual.js
/shared/node_modules/rimraf/dist/commonjs/rimraf-manual.js.map
/shared/node_modules/rimraf/dist/commonjs/rimraf-move-remove.d.ts
/shared/node_modules/rimraf/dist/commonjs/rimraf-move-remove.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/rimraf-move-remove.js
/shared/node_modules/rimraf/dist/commonjs/rimraf-native.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/rimraf-posix.js
/shared/node_modules/rimraf/dist/commonjs/rimraf-windows.d.ts
/shared/node_modules/rimraf/dist/commonjs/rimraf-windows.js
/shared/node_modules/rimraf/dist/commonjs/rimraf-windows.js.map
/shared/node_modules/rimraf/dist/commonjs/use-native.d.ts
/shared/node_modules/rimraf/dist/commonjs/use-native.d.ts.map
/shared/node_modules/rimraf/dist/commonjs/use-native.js
/shared/node_modules/rimraf/dist/commonjs/use-native.js.map
/shared/node_modules/rimraf/dist/esm/bin.d.mts
/shared/node_modules/rimraf/dist/esm/bin.d.mts.map
/shared/node_modules/rimraf/dist/esm/bin.mjs
/shared/node_modules/rimraf/dist/esm/bin.mjs.map
/shared/node_modules/rimraf/dist/esm/default-tmp.d.ts
/shared/node_modules/rimraf/dist/esm/default-tmp.d.ts.map
/shared/node_modules/rimraf/dist/esm/default-tmp.js.map
/shared/node_modules/rimraf/dist/esm/fix-eperm.d.ts.map
/shared/node_modules/rimraf/dist/esm/fs.d.ts
/shared/node_modules/rimraf/dist/esm/fs.js
/shared/node_modules/rimraf/dist/esm/ignore-enoent.d.ts
/shared/node_modules/rimraf/dist/esm/ignore-enoent.d.ts.map
/shared/node_modules/rimraf/dist/esm/ignore-enoent.js
/shared/node_modules/rimraf/dist/esm/ignore-enoent.js.map
/shared/node_modules/rimraf/dist/esm/index.d.ts
/shared/node_modules/rimraf/dist/esm/index.d.ts.map
/shared/node_modules/rimraf/dist/esm/index.js
/shared/node_modules/rimraf/dist/esm/index.js.map
/shared/node_modules/rimraf/dist/esm/opt-arg.d.ts
/shared/node_modules/rimraf/dist/esm/opt-arg.d.ts.map
/shared/node_modules/rimraf/dist/esm/opt-arg.js
/shared/node_modules/rimraf/dist/esm/opt-arg.js.map
/shared/node_modules/rimraf/dist/esm/path-arg.d.ts
/shared/node_modules/rimraf/dist/esm/path-arg.d.ts.map
/shared/node_modules/rimraf/dist/esm/path-arg.js
/shared/node_modules/rimraf/dist/esm/path-arg.js.map
/shared/node_modules/rimraf/dist/esm/platform.d.ts
/shared/node_modules/rimraf/dist/esm/platform.d.ts.map
/shared/node_modules/rimraf/dist/esm/platform.js
/shared/node_modules/rimraf/dist/esm/platform.js.map
/shared/node_modules/rimraf/dist/esm/readdir-or-error.d.ts.map
/shared/node_modules/rimraf/dist/esm/readdir-or-error.js.map
/shared/node_modules/rimraf/dist/esm/retry-busy.d.ts
/shared/node_modules/rimraf/dist/esm/retry-busy.d.ts.map
/shared/node_modules/rimraf/dist/esm/retry-busy.js
/shared/node_modules/rimraf/dist/esm/retry-busy.js.map
/shared/node_modules/rimraf/dist/esm/rimraf-manual.js
/shared/node_modules/rimraf/dist/esm/rimraf-manual.js.map
/shared/node_modules/rimraf/dist/esm/rimraf-move-remove.d.ts
/shared/node_modules/rimraf/dist/esm/rimraf-move-remove.d.ts.map
/shared/node_modules/rimraf/dist/esm/rimraf-move-remove.js
/shared/node_modules/rimraf/dist/esm/rimraf-move-remove.js.map
/shared/node_modules/rimraf/dist/esm/rimraf-native.d.ts
/shared/node_modules/rimraf/dist/esm/rimraf-native.js
/shared/node_modules/rimraf/dist/esm/rimraf-native.js.map
/shared/node_modules/rimraf/dist/esm/rimraf-posix.d.ts
/shared/node_modules/rimraf/dist/esm/rimraf-posix.d.ts.map
/shared/node_modules/rimraf/dist/esm/rimraf-posix.js.map
/shared/node_modules/rimraf/dist/esm/rimraf-windows.d.ts
/shared/node_modules/rimraf/dist/esm/rimraf-windows.d.ts.map
/shared/node_modules/rimraf/dist/esm/rimraf-windows.js
/shared/node_modules/rimraf/dist/esm/use-native.d.ts
/shared/node_modules/rimraf/dist/esm/use-native.js.map
/shared/node_modules/rimraf/LICENSE
/shared/node_modules/rimraf/package.json
/shared/node_modules/rimraf/README.md
/shared/node_modules/.package-lock.json
/shared/dist/index.js
/shared/dist/login-request.dto.d.ts
/shared/dist/login-request.dto.js
/shared/dist/register-teacher.dto.d.ts
/shared/dist/register-teacher.dto.js
/shared/package-lock.json
